<% provide(:title, @institution.name) %>
<h2><%= @institution.name %></h2>
<p>Account Type: <%= @institution.accountTypeDescription %></p>
<p>Phone: <%= @institution.phone %></p>
<p>Home App: <%= @institution.urlHomeApp %></p>
<p>Address:</p>
<p class="address">City: <%= @institution.city %></p>
<p class="address">State: <%= @institution.state %></p>
<p class="address">Country: <%= @institution.country %></p>
<p class="address">Postal Code: <%= @institution.pc %></p>
<p class="address">Address line 1: <%= @institution.address_line_1 %></p>
<p class="address">Address line 2: <%= @institution.address_line_2 %></p>
<p>Currency: <%= @institution.currency %></p>
<% if @institution.email %>
  <p>Email: <%= @institution.email %></p>
<% end %>
